
.inline-list {
    list-style-type: none;
    padding: 0;
  }

.product-item
{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.product-title
{
    margin-left: 40%;
    margin-right: 10px;
}
.gap
{
    margin-left: 10px;
   
}
.box
{
  margin: 0 auto;
  background-color: #f0f0f0;
  padding-right: 20px;
  width: 30%;
  border: 1px solid #ccc;
  margin-top: 19%;
  justify-content: center;
}
